/*
 *  This file is part of Urd.
 *  vim:ts=4:expandtab:cindent
 *
 *  Urd is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 3 of the License, or
 *  (at your option) any later version.
 *  Urd is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program. See the file "COPYING". If it does not
 *  exist, see <http://www.gnu.org/licenses/>.
 *
 * $LastChangedDate: 2012-12-21 15:22:13 +0100 (vr, 21 dec 2012) $
 * $Rev: 2742 $
 * $Author: gavinspearhead@gmail.com $
 * $Id: classic.css 2742 2012-12-21 14:22:13Z gavinspearhead@gmail.com $
 */

/* 
Colours needed for statistics  as RGB tuples
stat_colour1: 140, 61, 0
stat_colour2: 180, 150, 60
stat_colour3: 200,200,0
stat_colour4: 140, 210, 220
stat_colour5: 0, 200, 0
stat_colour6: 0, 200, 100
stat_colour7: 0, 200, 200
stat_colour8: 0, 100, 200
stat_colour9: 0, 0, 201
stat_colour10: 15, 0, 0
stat_colour11: 255, 255, 255
*/
body
{
    background-image: url('../../img/classic/background.png');
    background-color: #202020;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: Geneva, Arial, Helvetica, Sans-Serif;
    font-size: small;
    font-size: 10pt;
}
h3.title
{   
    color: #ffffff;
}
a
{
    color: #cccccc;
    text-decoration: none;
}
a:hover 
{
    color: #ffffff;
    text-decoration: none;
}
div.light
{
    color: #ffffff;
    font-size: 9pt;
}

.even
{
  background: #4f0000;
  border-color: #4f0000 #410000 #320000;
  background-image: -webkit-linear-gradient(top, #4f0000, #410000 30%, #320000);
  background-image: -moz-linear-gradient(top, #4f0000, #410000 30%, #320000);
  background-image: -o-linear-gradient(top, #4f0000, #410000 30%, #320000);
  background-image: linear-gradient(to bottom, #4f0000, #410000 30%, #320000);
}
.interesting
{
    background: #ba0000;
  border-color: #ba0000 #410000 #6e0000;
  background-image: -webkit-linear-gradient(top, #ba0000, #ab0000 30%, #6e0000);
  background-image: -moz-linear-gradient(top, #ba0000, #ab0000 30%, #6e0000);
  background-image: -o-linear-gradient(top, #ba0000, #ab0000 30%, #6e0000);
  background-image: linear-gradient(to bottom, #ba0000, #ab0000 30%, #6e0000);

}
.markedread
{
    color: #a0a0a0;
    font-style: italic;
}
.markednzb
{
    color: #b0b090;
    font-style: oblique;
}

.head, .feet
{
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    font-size: 9pt;
    font-weight: bolder;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
}
table.articles, table.newsservers
{
    margin-top: -1px;
    border-collapse: collapse;
    font-size: 10pt;
    width: 99%;
}
table.statistics
{
    margin-top: -2px;
    background-color: #000;
    border: 2px solid #555;
}

.xxsmall
{
    font-size: xx-small;
    color: #ffffff;
    padding-left: 10px;
}
table.pageskipbottom
{
    border-collapse: collapse;
    color: #000000;
    margin-top: 0;
    margin-bottom: 4px;
}
table.pageskip
{
    border-collapse: collapse;
    color: #000000;
    margin-top: 4px;
    margin-bottom: 0;
}
td.psb_0, td.ps_0
{
    font-weight: bold;
    font-size: 10pt;
    background-color: #ffffff;
    width: 25px;
    text-align: center;
    border-bottom: thin solid #000000;
    border-left: thin solid #000000;
    border-right: thin solid #000000;
}
td.psb_h,td.ps_h
{
    background-color: #000000;
}
td.psb_1,td.ps_1
{
    font-size: 9pt;
    background-color: #dddddd;
    width: 25px;
    text-align: center;
    border: thin solid #000000;
}
td.psb_2,td.ps_2
{
    font-size: 8pt;
    background-color: #bbbbbb;
    width: 25px;
    text-align: center;
    border: thin solid #000000;
}
td.psb_3,td.ps_3
{
    font-size: 7pt;
    background-color: #999999;
    width: 25px;
    text-align: center;
    border: thin solid #000000;
}
td.psb_4,td.ps_4
{
    font-size: 6pt;
    background-color: #888888;
    width: 25px;
    text-align: center;
    border: thin solid #000000;
}
td.psb_5,td.ps_5
{
    font-size: 6pt;
    background-color: #777777;
    width: 25px;
    text-align: center;
    border: thin solid #000000;
}
table.preferences
{
    border-collapse: collapse;
    width: 99%;
    min-width: 970px;
    font-size: x-small;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
}
table.transfers
{
    border-collapse: collapse;
    width: 100%;
    font-size: x-small;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
}

table.newsgroups
{
    margin-top: 1px;
    border-collapse: collapse;
    width: 100%;
    font-size: x-small;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
}
table.files, table.tasks
{
    margin-top: -1px;
    border-collapse: collapse;
    width: 100%;
    font-size: x-small;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
}
.highlight
{
    color: #ffcc00;
}
.highlight_spam
{
    padding: 2px 4px 2px 4px;
    border-radius:3px;
    background-color: #990000;
    color: #ffffff;
}

.highlight_whitelist
{
    padding: 2px 4px 2px 4px;
    border-radius:3px;
    background-color: #006600;
    color: #ffffff;
}

.highlight_comments
{
    padding: 2px 4px 2px 4px;
    border-radius:3px;
    background-color: #996600;
    color: #ffffff;
}
.highlight3
{
    border:solid 2px #006600 ;
    border-color: #ff0000;
}
.warning_highlight
{
    color: #ff5050;
    font-style: italic;
}
.highlight2
{
  background: #260000;
  border-color: #260000 #130000 #010000;
  background-image: -webkit-linear-gradient(top, #260000, #130000 70%, #010000);
  background-image: -moz-linear-gradient(top, #260000, #130000 70%, #010000);
  background-image: -o-linear-gradient(top, #260000, #130000 70%, #010000);
  background-image: linear-gradient(to bottom, #260000, #130000 70%, #010000);
}

.setinfo
{
    color: #ffffff;
    margin-left: 15px;
    vertical-align: top;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

.time
{
    width: 20px;
    font-size: 8pt;
    text-align: right;
}
.update
{
    font-size: 8pt;
}
.newpref
{
    background-color: #000;
    font-size: 9pt;
    font-family: "arial black", Arial, Helvetica, Sans-Serif;
    font-style: italic;
    text-align: right;
    padding-right: 5px;
}
div.log {
    overflow-y: auto;
    height: 600px;
    font-size: xx-small;
    font-family: courier, Monospace;
}
div.setinfo
{
    overflow: scroll;
    overflow-x: auto;
    overflow-y: scroll;
    height: 240px;
    width: auto;
    font-size: xx-small;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
}
.transferstatus
{
    background: #959595;
    color: #000000;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    text-align: center;
    font-size: small;
    font-weight: bold;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

input, select, textarea
{
    font-size: 8pt;
    border-radius: 5px;
}

.submit
{
    background: #161616;
    color: #e0e0e0;
    padding: 1px;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    border: 2px solid;
    font-weight: bold;
    border-color:#404040 #282828 #282828 #404040;
    cursor: pointer;
    border-radius:4px;
}

.submitsmall
{
    background: #161616;
    color: #e0e0e0;
    padding: 0;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    font-size: xx-small;
    border: 2px solid;
    font-weight: bold;
    border-color:#404040 #282828 #282828 #404040;
    cursor: pointer;
    border-radius:4px;
} 
#header
{
    height: 100px;
    position: absolute;
    z-index: 100;
}

#status
{
    font-size: xx-small;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    padding-left: 10px;
    overflow-x: hidden;
}
.popup525x300
{
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 525px;
    height: 300px;
    margin-left: -262px;
    margin-top: -150px;
    background: #300000;
    border-radius: 9px;
    border: 2px solid #700000;
    box-shadow: -3px 3px 3px 4px #000000;
}

.calendardiv
{
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 510px;
    height: 300px;
    margin-left: -255px;
    margin-top: -150px;
    z-index: 1500;
    background: #300000;
    border-radius: 9px;
    border: 2px solid #700000;
    box-shadow: -3px 3px 3px 4px #000000;
}

.popup700x400
{
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 700px;
    height: 400px;
    margin-left: -350px;
    margin-top: -200px;
    background: #300000;
    border-radius: 9px;
    border: 2px solid #700000;
    box-shadow: -3px 3px 3px 4px #000000;
}
#transfersdiv
{
    width: 100%;
    float: left;
    z-index: 10;
}
#nojs
{
    position: absolute;
    background-color: #ffe000;
    color: #000;
    border: thick solid #ff0000;
    padding: 5px;
    display: table;
}
#message
{
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 525px;
    height: 300px;
    margin-left: -262px;
    margin-top: -150px;
    background: #300000;
    border-radius: 9px;
    border: 2px solid #700000;
    box-shadow: -3px 3px 3px 4px #000000;
}
#messagecontent
{
    margin: auto;
    height: 275px;
    margin-top: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
}
.innerwaitingdiv
{
    position: fixed;
    height: 300px;
    width: 500px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;
    
}
#overlay
{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2100000;
    background-image: url('../../img/overlay.png');
    text-align: center;
    vertical-align: bottom;
}
#hideoverlay
{
    position: absolute;
    right: 30px;
    top: 10px;
}
/* Table stuff */
#table
{
    position: absolute;
    top: 125px;
    left: 3px;
    z-index: 301;
    font-size: x-small;
}

.newset {
    color: #ffe000;
    font-weight: bold;
}
.quickdisplay
{
    margin: 0;
    width: 600px;
    border: 1px solid #000;
    vertical-align: top;
    padding: 0;
    border-collapse: collapse;
    background: #300000;
}
.extsetinfo
{
    color: white;
    margin: 0;
    width: 600px;
    border: 1px solid #000;
    vertical-align: top;
    padding: 0;
    border-collapse: collapse;
    background: #300000;

}
.extsetnamewidth
{
    width: 140px;
}
.extsetinput
{
    color: #ffffff;
    text-align: left;
}
.logintable
{
    padding-top: 100px;
    margin: auto;
}
#minibasketdiv
{
    margin-left: 8px;
    display: inline;
    margin-top: 5px;
    padding: 1px 5px;
    border: solid #353535 1px;
    border-radius: 3px 3px 3px 3px;
    background-color: #202020;
}

#basketdiv
{
}
#innerbasketdiv
{
    max-height: 100px;
    width: 100%;
    overflow-y: auto;
}
.innerbaskettable
{
    width: 100%;
}
.baskettable
{
    width: 99%;
    background-color: #400000;
    border: solid black 1px;
    border-radius: 9px 9px 9px 0;
}
.basketright
{
    font-size: xx-small;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    text-align: right;
}
.basketleft
{
    font-size: xx-small;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
}
table.basketbuttons
{
    width: auto;
    background-color: #400000;
    border: solid black 1px;
    border-top: solid #400000 1px;
    margin-top: -1px;
    border-radius: 0 0 9px 9px;
}
table.browsetoptable
{
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

.quickmenuoff
{
    visibility: hidden;
    position: fixed;
    z-index: 990;
}
.quickmenuon
{
    visibility: visible;
    position: fixed;
    z-index: 1000005;
    top: 0;
    left: 0;
    width: 300px;
    height: 200px;
}
.quickmenuitem
{
    position: absolute;
    background: #660000;
    border: 1px solid #000;
    font-size: x-small;
    height: 18px;
}
.quickmenubutton:hover
{
    background: #880000;
    cursor: pointer;
}
.quickmenubutton
{
    background: #660000;
    border: none;
    margin: 0;
    padding: 0 4px 1px 4px;
    width: 250px;
    height: 18px;
    color: #ffffff;
    text-align: left;
    vertical-align: top;
    font-size: x-small;
    overflow: hidden;
}

.quickwindowoff
{
    visibility: hidden;
    position: absolute;
    z-index: 900;
}
#quickmenuinner
{
    position: relative;
    box-shadow: -3px 3px 3px 4px #000000;
    width: 250px;
}

.quickwindowon
{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 800px;
    height: 450px;
    margin-left: -400px;
    margin-top: -225px;
    background: #300000;
    border-radius: 9px;
    border: 2px solid #700000;
    visibility: visible;
    overflow: hidden;
    z-index: 900;
    text-align: center;
    box-shadow: -3px 3px 3px 4px #000000;
}
.quickmenuitem
{
    position: absolute;
}
#logindiv
{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 700px;
    height: 400px;
    margin-left: -350px;
    margin-top: -200px;
    padding-left: 10px;
    background-image: url('../../img/classic/windowbg_largest.png');
    background-repeat: no-repeat;
}


#textcontent
{
    border: 1px solid #040000;
    color: #ffffff;
    background: #200000;
    padding: 30px;
    margin: 50px;
    border-radius: 9px;
}
#controlcontent
{
    border: 1px solid #040000;
    margin: 30px;
    background: #200000;
    color: #ffffff;
    padding: 30px;
    margin-right: 50px;
    font-size: 10pt;
    border-radius: 9px;
}
.setimgplus
{
    background-image:url('../../img/icon_plus.png');
    background-color:#12320d;
}
.setimgminus
{
    background-color:#ba4600;
    background-image:url('../../img/icon_minus.png');
}
.dynimgplus
{
    background-image:url('../../img/icon_plus.png');
    background-color:#440000;
}
.dynimgminus
{
    background-image:url('../../img/icon_minus.png');
    background-color:#440000;
}

input[type=text], textarea, select, input[type=password], input[type=checkbox], input[type=radio], input[type=file], input[type=email]
{
    background-color: #202020;
    border: solid 2px ;
    color: #eeeeee;
    border-color:#454545 #454545 #282828 #282828;
    padding-bottom:0px;
    padding-top:0px;
    font-size: x-small;
}

option
{
    background-color: #202020;
    border: solid 0;
    color : #eeeeee;
    border-color:#454545 #454545 #282828 #282828;
}

input[readonly] 
{
    background-color: #202020;
    color : #888888;
    border: solid 2px;
    font-style: italic;
    padding-bottom:0px;
    padding-top:0px;
    border-color:#454545 #454545 #282828 #282828;
}

#rss 
{
    position: fixed;
    right: 20px;
    top: 24px;

}
td.rssleft {
    border: none;
    color: #ffffff;
    background-color: #dd4400;
    font-size: 8px;
    border-radius: 4px 0 0 4px;
}

td.rssright {
    border: none;
    color: #ffffff;
    background-color: #999999;
    font-size: 8px;
    border-radius: 0 4px 4px 0;
}

table.rss {
    border-collapse: collapse;
}

a.rss {
    color: #ffffff;
    text-decoration: none;

}

span.ng_submit
{
    left: 0;
    position: relative;
}

div.ng_selector
{
    width: 99%;
    display: table-cell;
    border-collapse: collapse;
    white-space: nowrap;
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 1px;
    vertical-align: bottom;
}

div.pref_selector
{
    width: 1%;
    white-space: nowrap;
    display: table-cell;
    border-collapse: collapse;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 1px;
    margin: 0;
    vertical-align: bottom;
}

div.prefix_transfers
{
    margin-top: -2px;
}

div.prefix_prefs
{
    margin-top: -2px;
}

#ng_headerbox
{
    width: 100%;
    margin: 0;
    margin-bottom: -2px;
}

.advanced_search 
{
    padding-left:16px;
}

textarea.filecontents
{
    width: 660px;
    height: 260px;
}

div.tabs, ul.tabs
{
    list-style: none;
    padding: 0;
    margin: 0 0 1px 1px;
    font-size: 9pt;
}

li.tab, span.tab
{
    border-top-right-radius:6px;
    border-top-left-radius:6px;
    display: inline;
    border: solid;
    border-width: 2px 2px 1px 2px;
    margin: 0 1px 0 0;
    background: #000000;
    color: #c3c3c3;
    padding: 0 3px 0 3px;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    border-color:#606060 #606060 #484848 #484848 ;
    cursor: pointer;
}

li.tab_selected, span.tab_selected, .tab_selected
{
    color: #8C1826;
    padding: 0 3px 1px 3px;
    border-width: 2px 2px 0 2px;
    border-color:#606060 #606060 #484848 #484848 ;
    background: #000000;
}

.leftward 
{
    margin-left: 65px;
    margin-top: 25px;
}

#leftcalendar 
{
    width: 220px;
    float: left;
}

#rightcalendar 
{
    float: left;
}

#calendarbottom
{
    margin-top: 150px;
    margin-right: 50px;
    clear:both;
}

.black 
{
    background: #000;
}

#helptext {
    position: relative;
    background-color: #300000;
    color: #ffffff;
    text-align: center;
    min-height: 80px;
    z-index: 9000;
    overflow: auto;
    border: solid 2px #700000;
    border-radius: 5px;
}

#helpheader {
    color: #ffffff;
    font-weight: bold;
    background-color: #700000;
    text-align: center;
}
.bubble_top:after 
{
    content: "";
    position: absolute;
    top: -7px;
    left: 100px;
    border-style: solid;
    border-width: 0 7px 7px;
    border-color: #700000 transparent;
    display: block;
    width: 0;
    z-index: 3000;
}
.bubble_bottom:after 
{
    content: "";
    position: absolute;
    bottom: -7px;
    left: 100px;
    border-style: solid;
    border-width: 7px 7px 0;
    border-color: #700000 transparent;
    display: block;
    width: 0;
    z-index: 3000;
}

#helpbody {
    color: #dddddd;
    background-color: #300000;
    text-align: left;
    font-size: 10pt;
    overflow: hidden;
}

#helpwrapper 
{
    position: fixed;
    height: 0;
    top: 0;
    left: 0;
    z-index: 2000;
}

#smallhelp
{
    position: fixed;
    background-color: #300000;
    color: #ffffff;
    z-index: 2000;
    padding: 2px 5px 2px 5px;
    min-width: 100px;
    max-width: 250px;
    border: 2px solid #700000;
    font-size: 9pt;
    margin: 4px;
    border-radius: 9px;
}

td.settings 
{
    width: 50%;
}

tr.server_enabled
{
    color: #ffffff;
}

tr.server_disabled
{
    color: #a0a0a0;
}

th.uwider, td.uwider
{
    padding-left: 5px;
    padding-right: 5px;
}

td.uwider
{
    padding-left: 15px;
}

.mergebutton
{
    background-image:url('../../img/classic/block_mergesets.png');
}

.downloadbutton
{
    background-image:url('../../img/classic/block_downloadarticles.png');
}

.getnzbbutton
{
    background-image:url('../../img/classic/block_getnzb.png');
}

.clearbutton
{
    background-image:url('../../img/classic/block_clearlist.png');
}

.checkbox_tri
{
    background-image:url('../../img/icon_cross.png');
    background-repeat: no-repeat;
    background-color: #200000;
}

.checkbox_off
{
    background-image:url('../../img/icon_empty.png');
    background-repeat: no-repeat;
    background-color: #200000;
}

.checkbox_on
{
    background-image:url('../../img/icon_marked.png');
    background-repeat: no-repeat;
    background-color: #200000;
}
.gensetsicon
{
    background-image:url('../../img/icon_genset.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}
.followicon
{
    background-image:url('../../img/icon_arrow.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}
.ratingicon_10
{
    background-image:url('../../img/icon_1.0.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}
.ratingicon_15
{
    background-image:url('../../img/icon_1.5.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}
.ratingicon_20
{
    background-image:url('../../img/icon_2.0.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}
.ratingicon_25
{
    background-image:url('../../img/icon_2.5.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}
.ratingicon_30
{
    background-image:url('../../img/icon_3.0.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}
.ratingicon_35
{
    background-image:url('../../img/icon_3.5.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}
.ratingicon_40
{
    background-image:url('../../img/icon_4.0.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}
.ratingicon_45
{
    background-image:url('../../img/icon_4.5.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}
.ratingicon_50
{
    background-image:url('../../img/icon_5.0.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}
.ratingicon_55
{
    background-image:url('../../img/icon_5.5.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}
.ratingicon_60
{
    background-image:url('../../img/icon_6.0.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}
.ratingicon_65
{
    background-image:url('../../img/icon_6.5.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}
.ratingicon_70
{
    background-image:url('../../img/icon_7.0.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}
.ratingicon_75
{
    background-image:url('../../img/icon_7.5.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}
.ratingicon_80
{
    background-image:url('../../img/icon_8.0.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}
.ratingicon_85
{
    background-image:url('../../img/icon_8.5.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}
.ratingicon_90
{
    background-image:url('../../img/icon_9.0.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}
.ratingicon_95
{
    background-image:url('../../img/icon_9.5.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}
.ratingicon_100
{
    background-image:url('../../img/icon_10.0.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}

.previewicon
{
    background-image:url('../../img/icon_loupe.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}
.badinfoicon
{
    background-image:url('../../img/icon_loupe.png');
    background-repeat: no-repeat;
    background-color: #dB0000;
}
.foldericon
{
    background-image:url('../../img/icon_folder.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}
.upicon
{
    background-image:url('../../img/icon_up.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}
.downicon
{
    background-image:url('../../img/icon_down.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}
.mailicon
{
    background-image:url('../../img/icon_mail.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}
.editicon
{
    background-image:url('../../img/icon_edit.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}
.lasticon
{
    background-image:url('../../img/icon_last.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}
.firsticon
{
    background-image:url('../../img/icon_first.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}
.previousicon
{
    background-image:url('../../img/icon_previous.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}

.infoicon
{
    background-image:url('../../img/icon_info.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}

.playicon
{
    background-image:url('../../img/icon_play.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}

.pauseicon
{
    background-image:url('../../img/icon_pause.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}

.purgeicon
{
    background-image:url('../../img/icon_cross.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}

.killicon
{
    background-image:url('../../img/icon_cross.png');
    background-repeat: no-repeat;
    background-color: #dF4500;
}

.deleteicon
{
    background-image:url('../../img/icon_delete.png');
    background-repeat: no-repeat;
    background-color: #dF0000;
}

.sadicon
{
    background-image:url('../../img/icon_light_on.png');
    background-repeat: no-repeat;
    background-color: #440000;
}

.smileicon
{
    background-image:url('../../img/icon_light_off.png');
    background-repeat: no-repeat;
    background-color: #556B2F;
}
.waitingimg
{
    background-image:url('../../img/classic/waiting.png');
    background-repeat: no-repeat;
    width: 428px;
    height: 200px;
}

.closebutton
{
    background-image:url('../../img/classic/closebutton.png');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

td.ps_hover {
    font-weight: bold;
    font-size: 10pt;
    color: #aa0000; 
    cursor: pointer;
}

div.bottom {
    position: absolute;
    bottom: 10px;
    right: 9px;
}

.savenamediv
{
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    vertical-align: middle;
    position: fixed;
    width: 350px;
    height: 200px;
    left: 50%;
    top: 50%;
    margin-left: -175px;
    margin-top: -100px;
    z-index: 2000;
    background: #300000;
     border-radius: 9px;
    border: 2px solid #700000;
    box-shadow: -3px 3px 3px 4px #000000;
}

#savename_content
{ 
    width: 300px;
    height: 150px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

#alert_inner
{
    display: table;
    text-align: center;
    height: 150px;
    width: 500px;
}

#alert_content {
    display: table-cell;
    margin: auto;
    padding-left:20px;
    padding-top:10px;
    padding-right:10px;
    vertical-align: middle;
}

.alertdiv
{
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 200px;
    margin-left: -250px;
    margin-top: -100px;
    display: table;
    z-index: 2200000;
    background: #300000;
     border-radius: 9px;
    border: 2px solid #700000;
    box-shadow: -3px 3px 3px 4px #000000;
}

#pulldown_menu 
{
    width: 100%;
    height: 22px;
    background: #690000;
    border-color: #690000 #4d0000 #230000;
    background-image: -webkit-linear-gradient(top, #690000, #4d0000 50%, #230000);
    background-image: -moz-linear-gradient(top, #690000, #4d0000 50%, #230000);
    background-image: -o-linear-gradient(top, #690000, #4d0000 50%, #230000);
    background-image: linear-gradient(to bottom, #690000, #4d0000 50%, #230000);
    z-index: 1000;
    position: fixed;
    padding-left: 10px;
    top:0;
}

.pulldown ul 
{ 
    list-style-type:none; 
    z-index: 1100;
    margin-left:0px;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
    margin-right: -10000000px; /* so we can move it off screen to the right; 10000000px should be enough for any one*/
    float:left;
    position:relative;
}

.pulldown ul li.normal
{
    color: #ffffff;
    text-align: center;
    font-size: small;
    height: 22px;
    width:110px; 
    float:left;
    position:relative; 
    border-right: 1px solid #1b0000;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    background: #690000;
    border-color: #690000 #4d0000 #230000;
    background-image: -webkit-linear-gradient(top, #690000, #4d0000 50%, #230000);
    background-image: -moz-linear-gradient(top, #690000, #4d0000 50%, #230000);
    background-image: -o-linear-gradient(top, #690000, #4d0000 50%, #230000);
    background-image: linear-gradient(to bottom, #690000, #4d0000 50%, #230000);
}

.pulldown ul li.smalllogo 
{
    width: 40px;
    float: left;
    height: 22px;
    position:relative; 
    list-style-type:none;
    background: #690000;
    border-color: #690000 #4d0000 #230000;
    background-image: -webkit-linear-gradient(top, #690000, #4d0000 50%, #230000);
    background-image: -moz-linear-gradient(top, #690000, #4d0000 50%, #230000);
    background-image: -o-linear-gradient(top, #690000, #4d0000 50%, #230000);
    background-image: linear-gradient(to bottom, #690000, #4d0000 50%, #230000);
}

.pulldown ul li.smalllogo 
{
    color: #ffffff;
}

.pulldown ul li.commando {
    background: #970000;
    border-color: #970000 #610000 #320000;
    background-image: -webkit-linear-gradient(top, #970000, #610000 50%, #320000);
    background-image: -moz-linear-gradient(top, #970000, #610000 50%, #320000);
    background-image: -o-linear-gradient(top, #970000, #610000 50%, #320000);
    background-image: linear-gradient(to bottom, #970000, #610000 50%, #320000);
}

.pulldown ul ul {
    margin-left: 8px;
    margin-top: 1px;
    padding:0;
    display:none;
    vertical-align: bottom;
    border: none;
    overflow: hidden;
    z-index: 1200;
    list-style-type:none;
}

.pulldown ul li:hover ul 
{ 
    display:block; 
    font-size: small;
    position:absolute;
    z-index: 2000;
    left:0;
    border: none;
    overflow: hidden;
}
 
.pulldown ul li:hover ul li.plain
{
    background: #3f0000;
    border-color: #3f0000 #2D0000 #040000;
    background-image: -webkit-linear-gradient(top, #3f0000, #2D0000 50%, #040000);
    background-image: -moz-linear-gradient(top, #3f0000, #2D0000 50%, #040000);
    background-image: -o-linear-gradient(top, #3f0000, #2D0000 50%, #040000);
    background-image: linear-gradient(to bottom, #3f0000, #2D0000 50%, #040000);
    width: 250px;
    height: 22px;
    z-index: 2000;
    overflow: hidden;
}

.pulldown ul li:hover ul li.activity
{
    background: #3f0000;
    border-color: #3f0000 #2D0000 #040000;
    background-image: -webkit-linear-gradient(top, #3f0000, #2D0000 50%, #040000);
    background-image: -moz-linear-gradient(top, #3f0000, #2D0000 50%, #040000);
    background-image: -o-linear-gradient(top, #3f0000, #2D0000 50%, #040000);
    background-image: linear-gradient(to bottom, #3f0000, #2D0000 50%, #040000);
    width: 450px;
    height: 22px;
    z-index: 2000;
    overflow: hidden;
}

.pulldown ul li:hover ul li.plain:hover,
.pulldown ul li:hover ul li.activity:hover
{
    background: #970000;
    border-color: #970000 #610000 #320000;
    background-image: -webkit-linear-gradient(top, #970000, #610000 50%, #320000);
    background-image: -moz-linear-gradient(top, #970000, #610000 50%, #320000);
    background-image: -o-linear-gradient(top, #970000, #610000 50%, #320000);
    background-image: linear-gradient(to bottom, #970000, #610000 50%, #320000);
    overflow: hidden;
    height: 22px;
}

.pulldown_last_item
{
    border-radius: 0 0 9px 9px;
}

.urdlogo2
{
    width: 175px;
    height: 113px;
    background:url('../../img/classic/urdlogo.png') no-repeat;
    z-index: -1000;
    margin-right: 16px;
}

.content 
{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: x-small;
    vertical-align: top;
    top: 140px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#contentout
{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    overflow-x: auto;
    overflow-y: auto;
    z-index: 10;
}

#content
{
    height:100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 10;
}

.Message
{
    position: fixed;
    color: black;
    width: 80%;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 5px;
    padding-top: 5px;
    z-index:2500000; 
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    min-height: 40px;
    bottom: 5px;
    border: 1px solid #666;
    border-radius: 8px;
    background: #ff7f04; /* Old browsers */
    background: -moz-linear-gradient(top, #ff7f04 4%, #ff7c00 31%, #ffa73d 74%, #ffa54c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#ff7f04), color-stop(31%,#ff7c00), color-stop(74%,#ffa73d), color-stop(100%,#ffa54c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff7f04 4%,#ff7c00 31%,#ffa73d 74%,#ffa54c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff7f04 4%,#ff7c00 31%,#ffa73d 74%,#ffa54c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ff7f04 4%,#ff7c00 31%,#ffa73d 74%,#ffa54c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ff7f04 4%,#ff7c00 31%,#ffa73d 74%,#ffa54c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7f04', endColorstr='#ffa54c',GradientType=0 ); /* IE6-9 */   
}

#status_msg
{
    height:22px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
}

#smalllogo
{
    width: 38px;
    height: 20px;
    background: url('../../img/classic/urdlogo_small.png') no-repeat;
    margin-left: 1px;
    margin-top: 1px;
}

#scrollmenuleft
{
    background: #690000;
    border-color: #690000 #4d0000 #230000;
    background-image: -webkit-linear-gradient(top, #690000, #4d0000 50%, #230000);
    background-image: -moz-linear-gradient(top, #690000, #4d0000 50%, #230000);
    background-image: -o-linear-gradient(top, #690000, #4d0000 50%, #230000);
    background-image: linear-gradient(to bottom, #690000, #4d0000 50%, #230000);
    z-index: 10000;
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    font-weight: bold;
    overflow: hidden;
}

#scrollmenuright
{
    background: #690000;
    border-color: #690000 #4d0000 #230000;
    background-image: -webkit-linear-gradient(top, #690000, #4d0000 50%, #230000);
    background-image: -moz-linear-gradient(top, #690000, #4d0000 50%, #230000);
    background-image: -o-linear-gradient(top, #690000, #4d0000 50%, #230000);
    background-image: linear-gradient(to bottom, #690000, #4d0000 50%, #230000);
    z-index: 10000;
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    overflow: hidden;
    font-weight: bold;
    height:22px;
}

.white
{
    color: #ffffff;
}

.internal_subcat_selector
{
    position: relative;
    padding: 0 0 0 10px;
    width: 695px;
    height: 370px;
    overflow-y: auto;
}

.subcat_selector
{
    position: fixed;
    left: 45%;
    top: 35%;
    width: 700px;
    height: 400px;
    margin-left: -262px;
    margin-top: -100px;
    border-radius: 9px;
    border: 2px solid #700000;
    background: #300000;
    color: #ffffff;
    z-index: 2000;
    overflow: hidden;
    box-shadow: -3px 3px 3px 4px #000000;
}

table.subcat
{
    border-collapse: collapse;
    border-width: 0;
	border-spacing: 0;
}

td.subcat_head
{
    color: #ffffff;
    font-weight: bold;
}

td.subcat
{  
    padding: 0 0 0 10px;
    border-collapse: collapse;
    border-width: 0;
	border-spacing: 0;
    width: 200px;
}

.pulldown ul li.smallstatus
{
    width: 20px;
    float: left;
    background: #690000;
    border-color: #690000 #4d0000 #230000;
    background-image: -webkit-linear-gradient(top, #690000, #4d0000 50%, #230000);
    background-image: -moz-linear-gradient(top, #690000, #4d0000 50%, #230000);
    background-image: -o-linear-gradient(top, #690000, #4d0000 50%, #230000);
    background-image: linear-gradient(to bottom, #690000, #4d0000 50%, #230000);
    position:relative; 
    list-style-type:none; 
    border-right: 1px solid #000044;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
}

tr.info
{
    background: #300000;
}

tr.title
{
    background: #880000;
}

tr.comment
{
    background: #300000;
}

tr.comment_poster
{
    background: #220000;
}

.set_title
{
    background-color:#700000;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 6px;
    color: #eeeeee; 
    font-weight: bold;
}

table.set_details
{
    color: #eeeeee; 
    width: 100%;
    text-align: left;
    border:0;
    border-collapse: collapse;
    border-spacing: 0;
}

.pulldown ul li.menu_highlight
{
    background-image:url(none);
    background-color: #dd0000;
}

input.passwordweak,
input.passwordincorrect
{
    background-color:#aa7070;
}

input.passwordmedium
{
    background-color:#aaaa70;
}

input.passwordstrong,
input.passwordcorrect
{
    background-color:#70aa70;
}

.progressbar > span
{
  position: relative;
  float: left;
  margin: 0 0;
  height: 12px;
  line-height: 12px;
  text-align: right;
  border: 0px ;
  border-radius: 6px;
}
.progressbar
{
  height: 12px;
  background-color: #7b1010;
  border-left: 0px  ;
  border-right: 0px  ;
  border-radius: 6px;
  z-index: 1000;
}
.grey {
background: #888888;
  background-image: -webkit-linear-gradient(top, #d0d0d0, #ababab 70%, #888888);
  background-image: -moz-linear-gradient(top, #d0d0d0, #ababab 70%, #888888);
  background-image: -o-linear-gradient(top, #d0d0d0, #ababab 70%, #888888);
  background-image: linear-gradient(to bottom, #d0d0d0, #ababab 70%, #888888);
}
.green {
   background: #5a8529; /* Old browsers */
    background: -moz-linear-gradient(top, #5a8529 0%, #496e22 70%, #3f5f1d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5a8529), color-stop(70%,#496e22), color-stop(100%,#3f5f1d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #5a8529 0%,#496e22 70%,#3f5f1d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #5a8529 0%,#496e22 70%,#3f5f1d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5a8529 0%,#496e22 70%,#3f5f1d 100%); /* IE10+ */
    background: linear-gradient(to bottom, #5a8529 0%,#496e22 70%,#3f5f1d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a8529', endColorstr='#3f5f1d',GradientType=0 ); /* IE6-9 */
}

.red {
  background: #a42a1a;
    background: #b31f0b;
    background: -moz-linear-gradient(top, #b31f0b 0%, #96180a 70%, #801408 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b31f0b), color-stop(70%,#96180a), color-stop(100%,#801408));
    background: -webkit-linear-gradient(top, #b31f0b 0%,#96180a 70%,#801408 100%);
    background: -o-linear-gradient(top, #b31f0b 0%,#96180a 70%,#801408 100%);
    background: -ms-linear-gradient(top, #b31f0b 0%,#96180a 70%,#801408 100%);
    background: linear-gradient(to bottom, #b31f0b 0%,#96180a 70%,#801408 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b31f0b', endColorstr='#801408',GradientType=0 );
}

.orange {
  background: #f2b63c;
  border-color: #f0ad24 #eba310 #c5880d;
  background-image: -webkit-linear-gradient(top, #f8da9c, #f5c462 70%, #f2b63c);
  background-image: -moz-linear-gradient(top, #f8da9c, #f5c462 70%, #f2b63c);
  background-image: -o-linear-gradient(top, #f8da9c, #f5c462 70%, #f2b63c);
  background-image: linear-gradient(to bottom, #f8da9c, #f5c462 70%, #f2b63c);
}

.blue {
  background: #5aaadb;
  border-color: #459fd6 #3094d2 #277db2;
  background-image: -webkit-linear-gradient(top, #aed5ed, #7bbbe2 70%, #5aaadb);
  background-image: -moz-linear-gradient(top, #aed5ed, #7bbbe2 70%, #5aaadb);
  background-image: -o-linear-gradient(top, #aed5ed, #7bbbe2 70%, #5aaadb);
  background-image: linear-gradient(to bottom, #aed5ed, #7bbbe2 70%, #5aaadb);
}


#sidebar_button
{
    position: fixed;
    background-color: #FFFFFF;
    font-weight: bold;
    color: black;
    border-radius: 0 5px 5px 0;
    border: #FFFFFF 1px solid;
    display:none;
}

#contentleft
{
    border-right: solid 1px #FFFFFF;
}


