/*
 *  This file is part of Urd.
 *  vim:ts=4:expandtab:cindent
 *
 *  Urd is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 3 of the License, or
 *  (at your option) any later version.
 *  Urd is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program. See the file "COPYING". If it does not
 *  exist, see <http:/desert/www.gnu.org/licenses/>.
 *
 * $LastChangedDate$
 * $Rev$
 * $Author$
 * $Id$
 */
/* 
Colours needed for statistics  as RGB tuples
stat_colour1: 140, 120, 40
stat_colour2: 180, 150, 60
stat_colour3: 200, 200, 0
stat_colour4: 100, 100, 100
stat_colour5: 200, 200, 100
stat_colour6: 100, 200, 0
stat_colour7: 200, 150, 100
stat_colour8: 200, 150, 0
stat_colour9: 150, 150, 50
stat_colour10: 250, 250, 192
stat_colour11: 0, 0, 0
*/
body
{
    background-image: url('../../img/desert/background.png');
    color: black;
    background-color: gray;
    margin: 0px;
    padding: 0px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

h3.title
{   
    color:#642300;
}

a
{
    color: #554422;
    text-decoration: none;
}
a:hover 
{
    color: #221100;
    text-decoration: none;
}
div.light
{
    color: white;
    font-size: 10pt;
}

.even
{
  color: black;
  background: #A08030;
  border-color: #9B7722 #A08030  #A6883D;
  background-image: -webkit-linear-gradient(top, #9B7722, #A08030 70%, #A6883D);
  background-image: -moz-linear-gradient(top, #9B7722, #A08030 70%, #A6883D);
  background-image: -o-linear-gradient(top, #9B7722, #A08030 70%, #A6883D);
  background-image: linear-gradient(to bottom, #9B7722, #A08030 70%, #A6883D);


}
.interesting
{
  background: #F29114;
  border-color: #FF9813 #F29114 #DA8A18;
  background-image: -webkit-linear-gradient(top, #FF9813, #F29114 70%, #DA8A18);
  background-image: -moz-linear-gradient(top, #FF9813, #F29114 70%, #DA8A18);
  background-image: -o-linear-gradient(top, #FF9813, #F29114 70%, #DA8A18);
  background-image: linear-gradient(to bottom, #FF9813, #F29114 70%, #DA8A18);
}
.markedread
{
    color: #404040;
    font-style: italic;
}
.markednzb
{
    color: #406060;
    font-style: oblique;
}

.head, .feet
{
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    font-size: 9pt;
    font-weight: bolder;
    text-align: center;
    color: #111111;
    background-color: #dddddd;
}
table.newsservers
{
    margin-top: -1px;
    border-collapse: collapse;
    font-size: 10pt;
    width: 99%;
}
table.statistics
{
    margin-top: 1px;
    background-color: #dddddd;
    border: thin solid black;
}

.xxsmall
{
    font-size: x-small;
    color: #ffffff;
    padding-left: 10px;
}
table.pageskipbottom
{
    border-collapse: collapse;
    color: white;
    margin-top: 0px;
    margin-bottom: 4px;
}
table.pageskip
{
    border-collapse: collapse;
    color: white;
    margin-top: 4px;
    margin-bottom: 0px;
}
td.psb_0, td.ps_0
{
    font-weight: bold;
    font-size: 10pt;
    background-color: #000000;
    width: 25px;
    text-align: center;
}
td.psb_h,td.ps_h
{
    background-color: black;
}
td.psb_1,td.ps_1
{
    font-size: 9pt;
    background-color: #444444;
    width: 25px;
    text-align: center;
}
td.psb_2,td.ps_2
{
    font-size: 8pt;
    background-color: #666666;
    width: 25px;
    text-align: center;
}
td.psb_3,td.ps_3
{
    font-size: 7pt;
    background-color: #888888;
    width: 25px;
    text-align: center;
}
td.psb_4,td.ps_4
{
    font-size: 7pt;
    background-color: #999999;
    width: 25px;
    text-align: center;
}
td.psb_5,td.ps_5
{
    font-size: 7pt;
    background-color: #aaaaaa;
    width: 25px;
    text-align: center;
}
table.preferences
{
    border-collapse: collapse;
    width: 99%;
    font-size: small;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
}
table.transfers
{
    border-collapse: collapse;
    width: 100%;
    font-size: small;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
}

table.newsgroups
{
    margin-top: 1px;
    border-collapse: collapse;
    width: 100%;
    font-size: small;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
}
table.files
{
    margin-top: -1px;
    border-collapse: collapse;
    width: 100%;
    font-size: small;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
}
table.tasks
{
    margin-top: -1px;
    border-collapse: collapse;
    width: 100%;
    font-size: small;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
}

.highlight
{
    color: #0000dd;
}
.highlight_spam
{
    background-color: #aa0000;
    color: #ffffff;
}
.highlight_comments
{
    background-color: #eebb00;
    color: #000000;
}

.highlight_whitelist
{
    background-color: #008800;
    color: #ffffff;
}
.highlight3
{
    border:solid 2px #006600;
    border-color:#0033FF;
}
.warning_highlight
{
    color: #dd2000;
    font-style: italic;
}
.highlight2
{
  background: #906D18;
  border-color:#906D18 #82631A  #7B5E1B ;
  background-image: -webkit-linear-gradient(top, #906D18, #82631A 70%, #7B5E1B);
  background-image: -moz-linear-gradient(top, #906D18, #82631A 70%, #7B5E1B);
  background-image: -o-linear-gradient(top, #906D18, #82631A 70%, #7B5E1B);
  background-image: linear-gradient(to bottom, #906D18, #82631A 70%, #7B5E1B);
}
.setinfo
{
    color: white;
    margin-left: 15px;
    vertical-align: top;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}
..newpref
{
    font-size: 9pt;
    font-family: "arial black", Arial, Helvetica, Sans-Serif;
    font-style: italic;
    text-align: right;
    padding-right: 5px;
}
div.log 
{
    overflow-y: auto;
    font-size: small;
    font-family: courier, Monospace;
}
div.setinfo
{
    overflow: scroll;
    overflow-x: auto;
    overflow-y: scroll;
    height: 240px;
    width: auto;
    font-size: small;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
}
.transferstatus
{
    background: black;
    color: #dddddd;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    text-align: center;
    font-size: 9pt;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
input, select, textarea
{
    font-size: 8pt;
    border-radius: 5px;
}
.submitsmall
{
    background-color: #dbdaa9;
    color: #303030;
    padding: 0px 3px 0px 3px;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    font-size: small;
    border: 1px solid;
    font-weight: bold;
    border-color: #484848 #484848 #707070 #707070;
    cursor: pointer;
    border-radius:4px;
} 
#status
{
    font-size: small;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    padding-left: 10px;
    overflow-x: hidden;
}
.popup525x300
{
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    position: fixed;
    left: 50%;
    top: 50%;
    visibility: visible;
    width: 525px;
    height: 300px;
    margin-left: -262px;
    margin-top: -150px;
    background: #654D13;
    border-radius: 9px;
    border: 2px solid #BA7900;
    box-shadow: -3px 3px 3px 4px #49370E;
}

.calendardiv
{
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 510px;
    height: 300px;
    margin-left: -255px;
    margin-top: -150px;
    z-index: 1500;
    background: #654D13;
    border-radius: 9px;
    border: 2px solid #BA7900;
    box-shadow: -3px 3px 3px 4px #49370E;
}

.popup700x400
{
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 700px;
    height: 400px;
    margin-left: -350px;
    margin-top: -200px;
    visibility: visible;
    background: #654D13;
    border-radius: 9px;
    border: 2px solid #BA7900;
    box-shadow: -3px 3px 3px 4px #49370E;
}
#nojs
{
    position: absolute;
    background-color: yellow;
    color: black;
    border: thick solid red;
    padding: 5px;
    display: table;
}
#message
{
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 525px;
    height: 300px;
    margin-left: -262px;
    margin-top: -150px;
    background: #654D13;
    border-radius: 9px;
    border: 2px solid #BA7900;
    box-shadow: -3px 3px 3px 4px #49370E;
}
#messagecontent
{
    margin: auto;
    height: 275px;
    margin-top: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
}
#center
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#overlay
{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2100000;
    background-image: url('../../img/overlay.png');
    text-align: center;
    vertical-align: bottom;
}
#hideoverlay
{
    position: absolute;
    right: 30px;
    top: 10px;
}
/* Table stuff */
#table
{
    position: absolute;
    top: 125px;
    left: 3px;
    z-index: 301;
    font-size: small;
}
.newset {
    color: yellow;
    font-weight: bold;
}
.quickdisplay
{
    margin: 0;
    width: 600px;
    border: 1px solid #a68427;
    vertical-align: top;
    padding: 0px;
    border-collapse: collapse;
    background: #a68427;
}
.extsetinfo
{
    color: black;
    margin: 0;
    width: 600px;
    border: 1px solid #a68427;
    vertical-align: top;
    padding: 0;
    border-collapse: collapse;
    background: #a68427;

}
.extsetnamewidth
{
    width: 140px;
}
.extsetinput
{
    color: white;
    text-align: left;
}

.logintable a:hover
{
    color: #bb9944;
}
.logintable a 
{
    color: #ddaa55;
}
#minibasketdiv
{
    margin-left: 8px;
    display: inline;
    margin-top: 5px;
    padding: 1px 5px;
    border: solid #a5a5a5 1px;
    border-radius: 3px 3px 3px 3px;
    background-color: #DBDAA9;
}
.baskettable
{
    width: 99%;
    background-color: #a68427;
    color: black;
    border: solid #a68427 1px;
    border-radius: 9px 9px 9px 0;
}
.basketright
{
    font-size: x-small;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    text-align: right;
}
.basketleft
{
    font-size: x-small;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
}

table.basketbuttons
{
    width: auto;
    color: black;
    background-color: #a68427;
    border: solid #a68427 1px;
    border-top: solid #a68427 1px;
    margin-top: -1px;
    border-radius: 0 0 9px 9px;
}
table.browsetoptable
{
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}
.quickmenubutton
{
    background: #b49828;
    color: black;
    font-size: small;
}
#quickmenuinner
{
    box-shadow: -3px 3px 3px 4px #49370E;
}

.quickmenuitem
{
    position: absolute;
    background: #000066;
    border: 1px solid #565427;
    font-size: small;
    height: 2em;
}
.qmclose:hover
{
    color: black;
    font-weight: bold;
}
.quickwindowoff
{
    visibility: hidden;
    position: absolute;
    z-index: 900;
}

.quickwindowon
{ 
    position: fixed;
    left: 50%;
    top: 50%;
    width: 800px;
    height: 450px;
    margin-left: -400px;
    margin-top: -225px;
    background: #654D13;
    border-radius: 9px;
    border: 2px solid #BA7900;
    visibility: visible;
    z-index: 900;
    overflow: hidden;
    text-align: center;
    box-shadow: -3px 3px 3px 4px #49370E;
}
.quickmenuitem
{
    position: absolute;
}


#logindiv
{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 700px;
    height: 400px;
    margin-left: -350px;
    margin-top: -200px;
    padding-left: 10px;
    background: url('../../img/desert/windowbg_largest.png') no-repeat;
}
#textcontent, .textcontent
{
    border: 1px solid #a68427;
    background: #a68427;
    color: #002000;
    padding: 30px;
    margin: 50px;
    font-size: 10pt;
    border-radius: 9px;
}
#controlcontent
{
    border: 1px solid #a68427;
    background: #a68427;
    color: #002000;
    padding: 30px;
    margin: 30px;
    margin-right: 50px;
    font-size: 10pt;
    border-radius: 9px;
}
.mergebutton
{
    background-image:url('../../img/desert/block_mergesets.png');
}
.downloadbutton
{
    background-image:url('../../img/desert/block_downloadarticles.png');
}
.getnzbbutton
{
    background-image:url('../../img/desert/block_getnzb.png');
}
.clearbutton
{
    background-image:url('../../img/desert/block_clearlist.png');
}

.setimgplus
{
    background-image:url('../../img/icon_plus.png');
    background-color:#12320d;
}
.setimgminus
{
    background-color:#ba4600;
    background-image:url('../../img/icon_minus.png');
}
.dynimgplus
{
    background:url('../../img/icon_plus.png') no-repeat;
    background-color:#a68a00;
}
.dynimgminus
{
    background:url('../../img/icon_minus.png') no-repeat;
    background-color:#a68a00;
}


input[type=text], textarea, select, input[type=password], input[type=checkbox], input[type=radio], input[type=file], input[type=email]
{
    background: #dbdaa9;
    font-size: small;
    border: solid 2px ;
    color: #101010;
    border-color:#484848 #484848 #707070 #707070;
    padding-bottom:0;
    padding-top:0;
}

option
{
    background: #dbdaa9;
    border: solid 0;
    color : #101010;
    border-color:#484848 #484848 #707070 #707070;
}

input[readonly] 
{
    background: #dbdaa9;
    color : #303030;
    border: solid 2px;
    font-style: italic;
    padding-bottom:0;
    padding-top:0;
    border-color:#484848 #484848 #707070 #707070;
}
td.rssleft 
{
    border: none;
    color: white;
    background-color: #dd4400;
    font-size: 8px;
    border-radius: 4px 0 0 4px ;
}
td.rssright 
{
    border: none;
    color: #ffffff;
    background-color: #999999;
    font-size: 8px;
    border-radius: 0 4px 4px 0;
}
a.rss 
{
    color: #ffffff;
    text-decoration: none;

}

div.ng_selector
{
    width: 99%;
    display: table-cell;
    border-collapse: collapse;
    white-space: nowrap;
    margin: 0;
    padding-bottom: 1px;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: bottom;
}
ul.tabs ,div.tabs
{
    list-style: none;
    padding: 0;
    margin: 0 0 0px 1px;
    font-size: 9pt;
}
li.tab, span.tab
{
    background: #dddddd;
    color: #111111;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    border-color: #606060 #606060 #484848 #484848;
    cursor: pointer;
}
li.tab_selected, span.tab_selected,.tab_selected 
{
    color: #7D3B01;
    background: #dddddd;
    border-color: #606060 #606060 #484848 #484848;
}
.black 
{
    background: black;
}
tr.bottomline 
{
    border: thin solid #600000;
    border-width: 0 0 1px 0;
}

#helptext {
    position: relative;
    background: #654D13;
    color: #ffffff;
    text-align: center;
    min-height: 80px;
    z-index: 99000;
    overflow: auto;
    border: solid 2px #BA7900;
    border-radius: 5px;
}

#helpheader {
    color: #ffffff;
    font-weight: bold;
    background: #BA7900;
    text-align: center;
}
#helpbody {
    color: #ffffff;
    background-color: #654D13;
    text-align: left;
    font-size: 10pt;
}
.bubble_bottom:after 
{
    content: "";
    position: absolute;
    bottom: -7px;
    left: 100px;
    border-style: solid;
    border-width: 7px 7px 0;
    border-color: #BA7900 transparent;
    display: block;
    width: 0;
    z-index: 3000;
}
.bubble_top:after 
{
    content: "";
    position: absolute;
    top: -7px;
    left: 100px;
    border-style: solid;
    border-width: 0 7px 7px;
    border-color: #BA7900 transparent;
    display: block;
    width: 0;
    z-index: 3000;
}

#smallhelp
{
    position: fixed;
    background-color: #ffffff;
    color: #111111;
    z-index: 2000;
    padding: 2px 5px 2px 5px;
    border: 2px solid #498AF4;
    margin: 4px;
    min-width: 100px;
    max-width: 250px;
    font-size: 9pt;
    border-radius: 9px;
}
#smallhelp
{
    position: fixed;
    background-color: #654D13;
    color: #ffffff;
    z-index: 2000;
    padding: 2px 5px 2px 5px;
    margin: 4px;
    border: 2px solid #BA7900;
    min-width: 100px;
    max-width: 250px;
    font-size: 9pt;
    border-radius: 9px;
}

.innerwaitingdiv
{
    position: fixed;
    height: 300px;
    width: 500px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;
}
tr.server_enabled
{
    color: black;
}
tr.server_disabled
{
    color: #404040;
    font-style : italic;
}
.checkbox_tri
{
    background-image:url('../../img/icon_cross.png');
    background-repeat: no-repeat;
    background-color: #202000;
}
.checkbox_off
{
    background-image:url('../../img/icon_empty.png');
    background-repeat: no-repeat;
    background-color: #202000;
}
.checkbox_on
{
    background-image:url('../../img/icon_marked.png');
    background-repeat: no-repeat;
    background-color: #202000;
}
.gensetsicon
{
    background-image:url('../../img/icon_genset.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.followicon
{
    background-image:url('../../img/icon_arrow.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.ratingicon_10
{
    background-image:url('../../img/icon_1.0.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.ratingicon_15
{
    background-image:url('../../img/icon_1.5.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.ratingicon_20
{
    background-image:url('../../img/icon_2.0.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.ratingicon_25
{
    background-image:url('../../img/icon_2.5.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.ratingicon_30
{
    background-image:url('../../img/icon_3.0.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.ratingicon_35
{
    background-image:url('../../img/icon_3.5.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.ratingicon_40
{
    background-image:url('../../img/icon_4.0.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.ratingicon_45
{
    background-image:url('../../img/icon_4.5.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.ratingicon_50
{
    background-image:url('../../img/icon_5.0.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.ratingicon_55
{
    background-image:url('../../img/icon_5.5.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.ratingicon_60
{
    background-image:url('../../img/icon_6.0.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.ratingicon_65
{
    background-image:url('../../img/icon_6.5.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.ratingicon_70
{
    background-image:url('../../img/icon_7.0.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.ratingicon_75
{
    background-image:url('../../img/icon_7.5.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.ratingicon_80
{
    background-image:url('../../img/icon_8.0.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.ratingicon_85
{
    background-image:url('../../img/icon_8.5.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.ratingicon_90
{
    background-image:url('../../img/icon_9.0.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.ratingicon_95
{
    background-image:url('../../img/icon_9.5.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.ratingicon_100
{
    background-image:url('../../img/icon_10.0.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}


.previewicon
{
    background-image:url('../../img/icon_loupe.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.badinfoicon
{
    background-image:url('../../img/icon_loupe.png');
    background-repeat: no-repeat;
    background-color: #BB0000;
}
.foldericon
{
    background-image:url('../../img/icon_folder.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.upicon
{
    background-image:url('../../img/icon_up.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.downicon
{
    background-image:url('../../img/icon_down.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.mailicon
{
    background-image:url('../../img/icon_mail.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.editicon
{
    background-image:url('../../img/icon_edit.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.lasticon
{
    background-image:url('../../img/icon_last.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.firsticon
{
    background-image:url('../../img/icon_first.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.infoicon
{
    background-image:url('../../img/icon_info.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}

.previousicon
{
    background-image:url('../../img/icon_previous.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}

.playicon
{
    background-image:url('../../img/icon_play.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.pauseicon
{
    background-image:url('../../img/icon_pause.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.purgeicon
{
    background-image:url('../../img/icon_cross.png');
    background-repeat: no-repeat;
    background-color: #800000;
}
.killicon
{
    background-image:url('../../img/icon_cross.png');
    background-repeat: no-repeat;
    background-color: #FF4500;
}
.deleteicon
{
    background-image:url('../../img/icon_delete.png');
    background-repeat: no-repeat;
    background-color: #8b0000;
}
.sadicon
{
    background-image:url('../../img/icon_light_on.png');
    background-repeat: no-repeat;
    background-color: #8B0000;
}
.smileicon
{
    background-image:url('../../img/icon_light_off.png');
    background-repeat: no-repeat;
    background-color: #324708;
}
.waitingimg
{
    background:url('../../img/desert/waiting.png') no-repeat;
    width: 428px;
    height: 200px;
}
.closebutton
{
    background:url('../../img/desert/closebutton.png') no-repeat;
    width: 20px;
    height: 20px;
}
.savenamediv
{
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    vertical-align: middle;
    position: fixed;
    width: 350px;
    height: 200px;
    left: 50%;
    top: 50%;
    margin-left: -175px;
    margin-top: -100px;
    z-index: 2000;
    background: #654D13;
    border-radius: 9px;
    border: 2px solid #BA7900;
    box-shadow: -3px 3px 3px 4px #49370E;
}
td.ps_hover {
    color: #8d4b11; 
    font-weight: bold;
    font-size: 10pt;
    cursor: pointer;
}

div.bottom {
    position: absolute;
    bottom: 10px;
    right: 8px;
}
.alertdiv
{
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    vertical-align: middle;
    position: fixed;
    width: 500px;
    height: 200px;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -100px;
    display: table;
    z-index: 2200000;
    background: #654D13;
    border-radius: 9px;
    border: 2px solid #BA7900;
    box-shadow: -3px 3px 3px 4px #49370E;
}
#pulldown_menu 
{
    width: 100%;
    background: #3f0000;
    border-color: #887000 #504000 #1E1700;
    background-image: -webkit-linear-gradient(top, #887000, #504000 50%, #1E1700);
    background-image: -moz-linear-gradient(top, #887000, #504000 50%, #1E1700);
    background-image: -o-linear-gradient(top, #887000, #504000 50%, #1E1700);
    background-image: linear-gradient(to bottom, #887000, #504000 50%, #1E1700);
    z-index: 1000;
    position: fixed;
    padding-left: 10px;
    height: 2em;
    top:0;
}
.pulldown ul li.commando {
    background: #AE8B00;
    border-color: #AE8B00 #7C6000 #1E1700;
    background-image: -webkit-linear-gradient(top, #AE8B00, #7C6000 50%, #342600);
    background-image: -moz-linear-gradient(top, #AE8B00, #7C6000 50%, #342600);
    background-image: -o-linear-gradient(top, #AE8B00, #7C6000 50%, #342600);
    background-image: linear-gradient(to bottom, #AE8B00, #7C6000 50%, #342600);
}

.pulldown ul 
{ 
    list-style-type: none; 
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: -10000000px; /* so we can move it off screen to the right; 10000000px should be enough for any one*/
    padding: 0px;
    z-index: 1100;
    float:left;
    position:relative;
}
.pulldown ul li.smallstatus
{
    width: 1.75em;
    float: left;
    background: #3f0000;
    border-right: 1px solid #937709;
    border-color: #887000 #504000 #1E1700;
    background-image: -webkit-linear-gradient(top, #887000, #504000 50%, #1E1700);
    background-image: -moz-linear-gradient(top, #887000, #504000 50%, #1E1700);
    background-image: -o-linear-gradient(top, #887000, #504000 50%, #1E1700);
    background-image: linear-gradient(to bottom, #887000, #504000 50%, #1E1700);
    position:relative; 
    list-style-type:none; 
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
}
.pulldown ul ul {
    margin-left: 8px;
    margin-top: 1px;
    padding:0;
    display:none;
    vertical-align: bottom;
    float:left;
    overflow: hidden;
    z-index: 1200;
    list-style-type:none; 
}
.pulldown ul li.smalllogo 
{
    width: 40px;
    height: 2em;
    float: left;
    color: #ffffff;
    position: relative;
    background: #3f0000;
    border-color: #887000 #504000 #1E1700;
    background-image: -webkit-linear-gradient(top, #887000, #504000 50%, #1E1700);
    background-image: -moz-linear-gradient(top, #887000, #504000 50%, #1E1700);
    background-image: -o-linear-gradient(top, #887000, #504000 50%, #1E1700);
    background-image: linear-gradient(to bottom, #887000, #504000 50%, #1E1700);
    list-style-type: none; 
}
.pulldown ul li:hover ul 
{ 
    display: block; 
    font-size: small;
    position:absolute;
    z-index: 2000;
    left:0;
    border: none;
    overflow: hidden;
    list-style-type:none;
}

.pulldown ul li.normal {
    color: #ffffff;
    text-align: center;
    font-size: small;
    height: 2em;
    width: 9em; 
    float: left;
    position:relative; 
    list-style-type:none; 
    border-right: 1px solid #937709;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
}
.pulldown ul li:hover ul li.plain
{
    background: #403000;
    border-color: #403000 #261D00 #060500;
    background-image: -webkit-linear-gradient(top, #403000, #261D00 50%, #060500);
    background-image: -moz-linear-gradient(top, #403000, #261D00 50%, #060500);
    background-image: -o-linear-gradient(top, #403000, #261D00 50%, #060500);
    background-image: linear-gradient(to bottom, #403000, #261D00 50%, #060500);
    width:250px;
    z-index: 2000;
    height: 2em;
    border: none;
    overflow: hidden;
    list-style-type:none;
}
.pulldown ul li:hover ul li.plain:hover,
.pulldown ul li:hover ul li.activity:hover
{
    background: #AE8B00;
    border-color: #AE8B00 #7C6000 #1E1700;
    background-image: -webkit-linear-gradient(top, #AE8B00, #7C6000 50%, #342600);
    background-image: -moz-linear-gradient(top, #AE8B00, #7C6000 50%, #342600);
    background-image: -o-linear-gradient(top, #AE8B00, #7C6000 50%, #342600);
    background-image: linear-gradient(to bottom, #AE8B00, #7C6000 50%, #342600);
    overflow: hidden;
    border: none;
    height: 2em;
    list-style-type:none;
}

.pulldown ul li:hover ul li.activity
{
    background: #403000;
    border-color: #403000 #261D00 #060500;
    background-image: -webkit-linear-gradient(top, #403000, #261D00 50%, #060500);
    background-image: -moz-linear-gradient(top, #403000, #261D00 50%, #060500);
    background-image: -o-linear-gradient(top, #403000, #261D00 50%, #060500);
    background-image: linear-gradient(to bottom, #403000, #261D00 50%, #060500);
    width: 450px;
    height: 2em;
    z-index: 2000;
    border: none;
    overflow: hidden;
    list-style-type:none;
}
.urdlogo2
{
    width: 175px;
    height: 113px;
    background:url('../../img/desert/urdlogo.png');
    z-index: -1000;
    margin-right: 16px;
}

.content 
{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: small;
    vertical-align: top;
    top: 140px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
#contentout
{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    position: absolute;
    display:block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 95%;
    overflow-x: auto;
    overflow-y: auto;
    z-index: 10;
}
.Message
{
    position: fixed;
    color: black;
    width: 80%;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 5px;
    padding-top: 5px;
    z-index:2500000; 
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    min-height: 40px;
    bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #ff7f04; /* Old browsers */
    background: -moz-linear-gradient(top, #ff7f04 4%, #ff7c00 31%, #ffa73d 74%, #ffa54c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#ff7f04), color-stop(31%,#ff7c00), color-stop(74%,#ffa73d), color-stop(100%,#ffa54c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff7f04 4%,#ff7c00 31%,#ffa73d 74%,#ffa54c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff7f04 4%,#ff7c00 31%,#ffa73d 74%,#ffa54c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ff7f04 4%,#ff7c00 31%,#ffa73d 74%,#ffa54c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ff7f04 4%,#ff7c00 31%,#ffa73d 74%,#ffa54c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7f04', endColorstr='#ffa54c',GradientType=0 ); /* IE6-9 */
}
#smalllogo
{
    width: 38px;
    height: 20px;
    background: url('../../img/desert/urdlogo_small.png') no-repeat;
    width: 100%;
    margin-left: 1px;
    margin-top: 3px;
    position: relative;

}
#scrollmenuleft,
#scrollmenuright
{
    background: #3f0000;
    border-color: #887000 #504000 #1E1700;
    background-image: -webkit-linear-gradient(top, #887000, #504000 50%, #1E1700);
    background-image: -moz-linear-gradient(top, #887000, #504000 50%, #1E1700);
    background-image: -o-linear-gradient(top, #887000, #504000 50%, #1E1700);
    background-image: linear-gradient(to bottom, #887000, #504000 50%, #1E1700);
    font-weight: bold;
}

.white
{
    color: #ffffff;
}

.internal_subcat_selector
{
    position: relative;
    padding: 0 0 0 10px;
    width: 695px;
    height: 370px;
    overflow-y: auto;
}

.subcat_selector
{
    position: fixed;
    left: 45%;
    top: 35%;
    width: 700px;
    height: 400px;
    margin-left: -262px;
    margin-top: -100px;
    border-radius: 9px;
    border: 2px solid #BA7900;
    background: #654D13;
    color: #f1f1f1;
    z-index: 2000;
    color: #f1f1f1;
    overflow: hidden;
    box-shadow: -3px 3px 3px 4px #49370E;
}
td.subcat_head
{
    color: white;
    font-weight: bold;
}

td.subcat
{  
    padding: 0 0 0 10px;
    border-collapse: collapse;
    border-width: 0px;
	border-spacing: 0px;
    width: 200px;
}
tr.info
{
    color: white;
    background: #674F14;
}
tr.title
{
    background: #C0A029;
}
tr.comment
{
    color: white;
    background: #654D13;
}
tr.comment_poster
{
    background: #896D20;
}
.set_title
{
    background-color:#BA7900;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 6px;
    color: #eeeeee; 
    font-weight: bold;
}

table.set_details
{
    color: #eeeeee; 
    width: 100%;
    text-align: left;
    border:0;
    border-collapse: collapse;
    border-spacing: 0;
}
.pulldown ul li.menu_highlight
{
    background-image:url(none);
    background-color: #dd9900;
}
input.passwordweak,
input.passwordincorrect
{
    background-color:#aa7070;
}
input.passwordmedium
{
    background-color:#aaaa70;
}
input.passwordstrong,
input.passwordcorrect
{
    background-color:#70aa70;
}

.progressbar
{
  background-color: #c0a73a;
}
.grey 
{
  background: #888888;
  background-image: -webkit-linear-gradient(top, #d0d0d0, #ababab 70%, #888888);
  background-image: -moz-linear-gradient(top, #d0d0d0, #ababab 70%, #888888);
  background-image: -o-linear-gradient(top, #d0d0d0, #ababab 70%, #888888);
  background-image: linear-gradient(to bottom, #d0d0d0, #ababab 70%, #888888);
}
.green {
    background: #5a8529; /* Old browsers */
    background: -moz-linear-gradient(top, #5a8529 0%, #496e22 70%, #3f5f1d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5a8529), color-stop(70%,#496e22), color-stop(100%,#3f5f1d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #5a8529 0%,#496e22 70%,#3f5f1d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #5a8529 0%,#496e22 70%,#3f5f1d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5a8529 0%,#496e22 70%,#3f5f1d 100%); /* IE10+ */
    background: linear-gradient(to bottom, #5a8529 0%,#496e22 70%,#3f5f1d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a8529', endColorstr='#3f5f1d',GradientType=0 ); /* IE6-9 */
}

.red {
     background: #a42a1a;
    background: #b31f0b;
    background: -moz-linear-gradient(top, #b31f0b 0%, #96180a 70%, #801408 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b31f0b), color-stop(70%,#96180a), color-stop(100%,#801408));
    background: -webkit-linear-gradient(top, #b31f0b 0%,#96180a 70%,#801408 100%);
    background: -o-linear-gradient(top, #b31f0b 0%,#96180a 70%,#801408 100%);
    background: -ms-linear-gradient(top, #b31f0b 0%,#96180a 70%,#801408 100%);
    background: linear-gradient(to bottom, #b31f0b 0%,#96180a 70%,#801408 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b31f0b', endColorstr='#801408',GradientType=0 );
}

.orange {
  background: #f2b63c;
  border-color: #f0ad24 #eba310 #c5880d;
  background-image: -webkit-linear-gradient(top, #f8da9c, #f5c462 70%, #f2b63c);
  background-image: -moz-linear-gradient(top, #f8da9c, #f5c462 70%, #f2b63c);
  background-image: -o-linear-gradient(top, #f8da9c, #f5c462 70%, #f2b63c);
  background-image: linear-gradient(to bottom, #f8da9c, #f5c462 70%, #f2b63c);
}

.blue {
  background: #5aaadb;
  border-color: #459fd6 #3094d2 #277db2;
  background-image: -webkit-linear-gradient(top, #aed5ed, #7bbbe2 70%, #5aaadb);
  background-image: -moz-linear-gradient(top, #aed5ed, #7bbbe2 70%, #5aaadb);
  background-image: -o-linear-gradient(top, #aed5ed, #7bbbe2 70%, #5aaadb);
  background-image: linear-gradient(to bottom, #aed5ed, #7bbbe2 70%, #5aaadb);
}

#sidebar_button
{
    position: fixed;
    background-color: #666666;
    font-weight: bold;
    color: white;
    border-radius: 0 5px 5px 0;
    border: #666666 1px solid;
    display:none;
}

#contentleft
{
    border-right: solid 1px #666666;
}

div.suggest
{
    max-width: 450px;
    background: #DBDAA9;
    z-index: 10000;
    position: fixed;
    border: solid 1px #202020;
    border-radius: 5px;
    overflow-x: hidden;
    padding-left: 3px;
    padding-right: 3px;
}


