/*
 *  This file is part of Urd.
 *  vim:ts=4:expandtab:cindent
 *
 *  Urd is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 3 of the License, or
 *  (at your option) any later version.
 *  Urd is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program. See the file "COPYING". If it does not
 *  exist, see <http://www.gnu.org/licenses/>.
 *
 * $LastChangedDate$
 * $Rev$
 * $Author$
 * $Id$
 */

/* 
Colours needed for statistics as RGB tuples
stat_colour1: 60, 150, 180
stat_colour2: 0, 50, 100
stat_colour3: 0,200,200
stat_colour4: 200, 195, 120
stat_colour5: 0,0, 200
stat_colour6: 0, 150, 250
stat_colour7: 0, 200, 100
stat_colour8: 0, 100, 200
stat_colour9: 0, 0, 140 
stat_colour10: 0, 0, 20 
stat_colour11: 255, 255,255 

*/

body
{
    color: #e1e1e1;
    background-color: #000000;
    margin: 0px;
    padding: 0px;
    font-family: Geneva, Arial, Helvetica, Sans-Serif;
    font-size: 10pt;
}

h3.title
{   
    color: #0080e8;
}

a
{
    color: #888888;
    text-decoration: none;
}
a:hover 
{
    color: #666666;
    text-decoration: none;
}
div.light
{
    color: #f1f1f1;
    font-size: 10pt;
}

.even
{
    color:#f1f1f1;
    background: #282828;
}
.interesting
{
    color: #00b7Ff;
    background: #282828;
}
.markedread
{
    font-style: italic;
}
.markednzb
{
    font-style: oblique;
}
.head 
{
    font-family: Verdana;
    font-size: 10pt;
    font-weight: bolder;
    text-align: center;
    color: #eeeeee;
    background: #004586; /* Old browsers */
    background: -moz-linear-gradient(top, #003070 2%, #004586 28%, #004586 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#003070), color-stop(28%,#004586), color-stop(100%,#004586)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #003070 2%,#004586 28%,#004586 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #003070 2%,#004586 28%,#004586 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #003070 2%,#004586 28%,#004586 100%); /* IE10+ */
    background: linear-gradient(to bottom, #003070 2%,#004586 28%,#004586 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003070', endColorstr='#004586',GradientType=0 ); /* IE6-9 */
}

.feet
{
    font-family: Verdana;
    font-size: 9pt;
    font-weight: bolder;
    text-align: center;
    color: #eeeeee;
    background: #004586; /* Old browsers */
    background: -moz-linear-gradient(top, #004586 0%, #004586 70%, #003070 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#004586), color-stop(70%,#004586), color-stop(100%,#003070)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #004586 0%,#004586 70%,#003070 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #004586 0%,#004586 70%,#003070 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #004586 0%,#004586 70%,#003070 100%); /* IE10+ */
    background: linear-gradient(to bottom, #004586 0%,#004586 70%,#003070 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004586', endColorstr='#003070',GradientType=0 ); /* IE6-9 */
}

table.statistics
{
    margin-top: 1px;
    background-color: #333333;
    border: thin solid #222222;
}
.xxsmall
{
    font-size: x-small;
    color: #ffffff;
    padding-left: 10px;
}

table.pageskipbottom
{
    border-collapse: collapse;
    color: #404040;
    margin-top: 0px;
    margin-bottom: 4px;
}
table.pageskip
{
    border-collapse: collapse;
    color: #404040;
    margin-top: 4px;
    margin-bottom: 0px;
}
td.psb_0, td.ps_0
{
    font-weight: bold;
    font-size: 10pt;
    background-color: #004586;
    width: 25px;
    color: #ffffff;
    text-align: center;
}
td.psb_h,td.ps_h
{
    background-color: black;
}
td.psb_1,td.ps_1
{
    font-size: 9pt;
    background-color: #00407c;
    width: 25px;
    color: #ffffff;
    text-align: center;
}
td.psb_2,td.ps_2
{
    font-size: 8pt;
    background-color: #003B73;
    width: 25px;
    color: #ffffff;
    text-align: center;
}
td.psb_3,td.ps_3
{
    font-size: 7pt;
    width: 25px;
    background-color: #00366A;
    color: #ffffff;
    text-align: center;
}
td.psb_4,td.ps_4
{
    font-size: 7pt;
    color: #dddddd;
    background-color: #003160;
    width: 25px;
    text-align: center;
}
td.psb_5,td.ps_5
{
    color: #dddddd;
    font-size: 7pt;
    background-color: #002D57;
    width: 25px;
    text-align: center;
}
table.preferences
{
    border-collapse: collapse;
    width: 99%;
    font-size: small;
    font-family: verdana;
}

table.newsgroups
{
    margin-top: 1px;
    border-collapse: collapse;
    width: 100%;
    font-size: small;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
}
table.files
{
    margin-top: -1px;
    border-collapse: collapse;
    width: 100%;
    font-size: small;
    font-family: verdan, Arial, Helvetica, Sans-Serifa;
}
table.transfers, table.tasks
{
    border-collapse: collapse;
    width: 100%;
    font-size: small;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
}

.highlight
{
    color: #ddcc00;
}
.highlight_spam
{
    background-color: #770000;
    color: #ddd;
}
.highlight_comments
{
    background-color: #7E6200;
    color: #000;
}


.highlight_whitelist
{
    background-color: #006600;
    color: #000;
}
.highlight3
{
    border:solid 2px #006600;
}
.warning_highlight
{
    color: #c00000;
    font-style: italic;
}
.highlight2
{
    background-color: #3E3E3E;
}
.setinfo
{
    color: white;
    margin-left: 15px;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
}
.newpref
{
    font-size: 9pt;
    font-family: "arial black", Arial, Helvetica, Sans-Serif;
    font-style: italic;
    text-align: right;
    padding-right: 5px;
}
div.log {
    overflow-y: auto;
    font-size: small;
    font-family: courier, Monospace;
}
div.setinfo
{
    overflow: scroll;
    overflow-x: auto;
    overflow-y: scroll;
    height: 240px;
    width: auto;
    font-size: small;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
}
.transferstatus
{
    background: #555555;
    color: #dddddd;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    text-align: center;
    font-size: small;
    font-weight: bold;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

input,select, textarea
{
    font-size: 8pt;
    border-radius: 5px;
}

/* Divs */
#status
{
    font-size: small;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    padding-left: 10px;
    overflow-x: hidden;
}

#nojs
{
    position:absolute;
    background-color: yellow;
    color: black;
}
.submitsmall
{
    color: #d1d1df;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    font-size: small;
    font-weight: bold;
    cursor: pointer;
    border-left: 1px;
    border-right: 1px; 
    border-color: #565656;
    border-top: 0;
    border-bottom: 0;
    border-style: solid;

    border-radius:5px;
    background: #0d0d0d; /* Old browsers */
    background: -moz-linear-gradient(top, #565656 0%, #0d0d0d 20%, #0a0a0a 60%, #0d0d0d 80%, #565656 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(20%,#0d0d0d), color-stop(60%,#0a0a0a), color-stop(80%,#0d0d0d), color-stop(100%,#565656)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #565656 0%,#0d0d0d 20%,#0a0a0a 60%,#0d0d0d 800%,#565656 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #565656 0%,#0d0d0d 20%,#0a0a0a 60%,#0d0d0d 800%,#565656 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #565656 0%,#0d0d0d 20%,#0a0a0a 60%,#0d0d0d 80%,#565656 100%); /* IE10+ */
    background: linear-gradient(to bottom, #565656 0%,#0d0d0d 20%,#0a0a0a 60%,#0d0d0d 80%,#565656 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#565656',GradientType=0 ); /* IE6-9 */
} 

/* Divs */
#status
{
    font-size: small;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    padding-left: 10px;
    overflow-x: hidden;
}

.popup525x300
{
    border-left: 2px;
    border-top:  0 ;
    border-bottom:  2px;
    border-right: 2px;
    border-style: solid;
    border-color:#004586;
    border-radius: 9px;
    color: #f1f1f1;
    visibility: visible;
    background: #282828;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 525px;
    height: 300px;
    margin-left: -262px;
    margin-top: -150px;
    box-shadow: -3px 3px 3px 4px #001133;
}

.calendardiv
{
    border-left: 2px;
    border-top:  0 ;
    border-bottom:  2px;
    border-right: 2px;
    border-style: solid;
    border-color:#004586;
    border-radius: 9px;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 510px;
    height: 300px;
    margin-left: -255px;
    margin-top: -150px;
    background: #282828;
    color: #f1f1f1;
    box-shadow: -3px 3px 3px 4px #001133;
}

.popup700x400
{
    border-left: 2px;
    border-top:  0 ;
    border-bottom:  2px;
    border-right: 2px;
    border-style: solid;
    border-color:#004586;
    border-radius: 9px;
    visibility: visible;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 700px;
    height: 400px;
    margin-left: -350px;
    margin-top: -200px;
    z-index: 1500;
    background: #282828;
    color: #f1f1f1;
    box-shadow: -3px 3px 3px 4px #001133;
}
#nojs
{
    position:absolute;
    background-color: yellow;
    color: black;
    border: thick solid red;
    padding: 5px;
    display: table;
}
#message
{
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 525px;
    height: 300px;
    margin-left: -262px;
    margin-top: -150px;
    background: #282828;
    color: #f1f1f1;
    box-shadow: -3px 3px 3px 4px #001133;
    border-radius: 9px;
    border: 2px solid #004586;
}
#messagecontent
{
    margin-left: auto;
    margin-bottom: auto;
    height: 275px;
    margin-top: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
}

#overlay
{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 210000;
    background-image: url('../../img/overlay.png');
    text-align: center;
    vertical-align: bottom;
}
/* Table stuff */
#table
{
    position: absolute;
    top: 125px;
    left: 3px;
    z-index: 301;
    font-size: small;
}

.newset {
    color: #bbb204;
    font-weight: bold;
}
.quickdisplay
{
    color: #e1e1e1;
    margin: 0;
    width: 100%;
    border: 1px solid #2d2d2d;
    vertical-align: top;
    padding: 0px;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #000000;
    overflow:hidden;
    border-radius: 9px;
}
.extsetinfo
{
    color: #e1e1e1;
    margin: 0;
    width: 620px;
    border: 1px solid #2d2d2d;
    vertical-align: top;
    padding: 0px;
    border-collapse: collapse;
    background-color: #000000;
    overflow-x:hidden;
}
.extsetinput
{
    color: white;
    text-align: left;
}
.logintable a:hover
{
    color: #555555;
}
.logintable a 
{
    color: #777777;
}
#minibasketdiv
{
    margin-left: 8px;
    display: inline;
    margin-top: 5px;
    padding: 1px 5px;
    border: solid #353535 1px;
    border-radius: 3px 3px 3px 3px;
    background-color: #1f1f1f;
}
.baskettable
{
    width: 99%;
    border: solid #212121 1px;
    background-color: #1f1f1f;
    border-radius: 9px 9px 9px 0;
}
.basketright
{
    font-size: small;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    text-align: right;
}
.basketleft
{
    font-size: small;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
}
table.basketbuttons
{
    width: auto;
    background-color: #1f1f1f;
    border: solid #212121 1px;
    margin-top: -1px;
    border-radius: 0 0 9px 9px;
}
.quickmenubutton
{
    background-color: #212121;
    color: #f1f1f1;
    font-size: small;
}
.quickmenubutton:hover
{
    background-color: #414141;
}
.quickmenuitem
{
    position: absolute;
    background: #aaaaaa;
    border: 1px solid #111111;
    font-size: small;
    height: 2em;
    box-shadow: -3px 3px 3px 4px #001133;
}

#logindiv
{
    border-radius: 9px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 700px;
    height: 400px;
    margin-left: -350px;
    margin-top: -200px;
    padding-left: 10px;
    border: 2px solid #414141;
    background: #282828;
    box-shadow: -3px 3px 3px 4px #001133;
}

#textcontent, #controlcontent
{
    border: 1px solid #212121;
    color: #f1f1f1;
    background-color: #282828;
    padding: 30px;
    margin: 50px;
    font-size: 10pt;
    border-collapse: collapse;
    border-radius: 9px;
}

.mergebutton
{
    background-image:url('../../img/darkness/block_mergesets.png');
}
.downloadbutton
{
    background-image:url('../../img/darkness/block_downloadarticles.png');
}
.getnzbbutton
{
    background-image:url('../../img/darkness/block_getnzb.png');
}
.clearbutton
{
    background-image:url('../../img/darkness/block_clearlist.png');
}
.dynimgplus
{
    background-image:url('../../img/icon_plus.png');
    background-color:#444444;
}
.dynimgminus
{
    background-color:#444444;
    background-image:url('../../img/icon_minus.png');
}

.setimgplus
{
    background-image:url('../../img/icon_plus.png');
    background-color:#004000;
}
.setimgminus
{
    background-color:#400000;
    background-image:url('../../img/icon_minus.png');
}

input[type=text], textarea, select, input[type=password], input[type=checkbox], input[type=radio], input[type=file], input[type=email]
{
    background-color: #1f1f1f;
    border: solid 1px;
    color: #c1c1c1;
    border-color: #333333 #414141 #535353 #414141;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left:1px;
    padding-right:1px;
    font-size: small;
}

option
{
    background: #1f1f1f;
    border: solid 0px;
    color: #c1c1c1;
    border-color: #333333 #414141 #535353 #414141;
}

input[readonly] 
{
    background-color: #1f1f1f;
    color : #c1c1c1;
    border: solid 1px;
    font-style: italic;
    padding-bottom:0px;
    padding-top:0px;
    border-color: #333333 #414141 #535353 #414141;
}
td.rssleft 
{
    border: none;
    color: white;
    background-color: #bb4400;
    font-size: 7px;
    border-radius: 4px 0 0 4px;
}

td.rssright 
{
    border: none;
    color: #ffffff;
    background-color: #999999;
    font-size: 7px;
    border-radius: 0 4px 4px 0;
}
a.rss 
{
    color: #ffffff;
    text-decoration: none;

}
div.ng_selector
{
    width: 99%;
    display: table-cell;
    border-collapse: collapse;
    white-space: nowrap;
    margin: 0px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 1px;
    vertical-align: bottom;
}
div.ng_selector
{
    width: 99%;
    display: table-cell;
    border-collapse: collapse;
    white-space: nowrap;
    margin: 0px;
    padding-bottom: 1px;
    vertical-align: bottom;
}
ul.tabs, div.tabs
{
    padding: 0.25em 0.4em 0 0.4em;
    list-style: none;
    padding: 0;
    margin: 0px 0px 0px 1px;
    font-size: 9pt;
}
li.tab, span.tab
{
    background: #1f1f1f;
    color: #888888;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    border-color:#404040 #404040 #282828 #282828;
    cursor: pointer;
}
li.tab_selected,span.tab_selected, .tab_selected 
{
    color: #dddddd;
    background: #1f1f1f;
    border-color:#404040 #404040 #282828 #282828;
}
.black 
{
    background: black;
}

#helptext {
    position: relative;
    background-color: #282828;
    color: #ffffff;
    text-align: center;
    min-height: 100px;
    z-index: 99000;
    overflow: auto;
    border: solid 2px #004586;
    border-radius: 5px;
}

#helpheader {
    color: #ffffff;
    font-weight: bold;
    background-color: #004586;
    text-align: center;
}
#helpbody {
    color: #f0f0f0;
    background-color: #282828;
    text-align: left;
    font-size: 9pt;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
}
.bubble_top:after 
{
    content: "";
    position: absolute;
    top: -7px;
    left: 100px;
    border-style: solid;
    border-width: 0 7px 7px;
    border-color: #004586 transparent;
    display: block;
    width: 0;
    z-index: 3000;
}
.bubble_bottom:after 
{
    content: "";
    position: absolute;
    bottom: -7px;
    left: 100px;
    border-style: solid;
    border-width: 7px 7px 0;
    border-color: #004586 transparent;
    display: block;
    width: 0;
    z-index: 3000;
}
#smallhelp
{
    border-radius: 9px; 
    position: fixed;
    background-color: #282828;
    color: #ffffff;
    z-index: 2000;
    padding: 2px 5px 2px 5px;
    border: 2px solid #004586;
    margin: 4px;
    min-width: 100px;
    max-width: 250px;
    font-size: 9pt;
}
.innerwaitingdiv
{
    color: #e1e1e1;
    position: fixed;
    height: 300px;
    width: 500px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;

}
tr.server_enabled
{
    color: #f1f1f1;
}
tr.server_disabled
{
    color: #b1b1b1;
}
.gensetsicon
{
    background-image:url('../../img/icon_genset.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.ratingicon_10
{
    background-image:url('../../img/icon_1.0.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.ratingicon_15
{
    background-image:url('../../img/icon_1.5.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.ratingicon_20
{
    background-image:url('../../img/icon_2.0.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.ratingicon_25
{
    background-image:url('../../img/icon_2.5.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.ratingicon_30
{
    background-image:url('../../img/icon_3.0.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.ratingicon_35
{
    background-image:url('../../img/icon_3.5.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.ratingicon_40
{
    background-image:url('../../img/icon_4.0.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.ratingicon_45
{
    background-image:url('../../img/icon_4.5.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.ratingicon_50
{
    background-image:url('../../img/icon_5.0.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.ratingicon_55
{
    background-image:url('../../img/icon_5.5.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.ratingicon_60
{
    background-image:url('../../img/icon_6.0.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.ratingicon_65
{
    background-image:url('../../img/icon_6.5.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.ratingicon_70
{
    background-image:url('../../img/icon_7.0.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.ratingicon_75
{
    background-image:url('../../img/icon_7.5.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.ratingicon_80
{
    background-image:url('../../img/icon_8.0.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.ratingicon_85
{
    background-image:url('../../img/icon_8.5.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.ratingicon_90
{
    background-image:url('../../img/icon_9.0.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.ratingicon_95
{
    background-image:url('../../img/icon_9.5.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.ratingicon_100
{
    background-image:url('../../img/icon_10.0.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}

.followicon
{
    background-image:url('../../img/icon_arrow.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.previewicon
{
    background-image:url('../../img/icon_loupe.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.badinfoicon
{
    background-image:url('../../img/icon_loupe.png');
    background-repeat: no-repeat;
    background-color: #FF5B2B;
}
.foldericon
{
    background-image:url('../../img/icon_folder.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.upicon
{
    background-image:url('../../img/icon_up.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.downicon
{
    background-image:url('../../img/icon_down.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.mailicon
{
    background-image:url('../../img/icon_mail.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.editicon
{
    background-image:url('../../img/icon_edit.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.lasticon
{
    background-image:url('../../img/icon_last.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.firsticon
{
    background-image:url('../../img/icon_first.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.infoicon
{
    background-image:url('../../img/icon_info.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.previousicon
{
    background-image:url('../../img/icon_previous.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.playicon
{
    background-image:url('../../img/icon_play.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.pauseicon
{
    background-image:url('../../img/icon_pause.png');
    background-repeat: no-repeat;
    background-color: #07014C;
}
.purgeicon
{
    background-image:url('../../img/icon_cross.png');
    background-repeat: no-repeat;
    background-color: #000000;
}
.killicon
{
    background-image:url('../../img/icon_cross.png');
    background-repeat: no-repeat;
    background-color:#700000;
}

.checkbox_tri
{
    background-image:url('../../img/icon_cross.png');
    background-repeat: no-repeat;
    background-color: #000000;
}
.checkbox_off
{
    background-image:url('../../img/icon_empty.png');
    background-repeat: no-repeat;
    background-color: #000000;
}
.checkbox_on
{
    background-image:url('../../img/icon_marked.png');
    background-repeat: no-repeat;
    background-color: #000000;
}

.deleteicon
{
    background-image:url('../../img/icon_delete.png');
    background-repeat: no-repeat;
    background-color: #000000;
}
.sadicon
{
    background-color:#003000;
    background-image:url('../../img/icon_light_on.png');
    background-repeat: no-repeat;
}
.smileicon
{
    background-image:url('../../img/icon_light_off.png');
    background-repeat: no-repeat;
    background-color:#600000;
}
.waitingimg
{
    width: 428px;
    height: 200px;
}
.closebutton
{
    background-image:url('../../img/darkness/closebutton.png');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.savenamediv
{
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    border-radius: 9px;
    color: #f1f1f1;
    background: #282828;
    vertical-align: middle;
    position: fixed;
    width: 350px;
    height: 200px;
    left: 50%;
    top: 50%;
    margin-left: -175px;
    margin-top: -100px;
    z-index: 2000;
    box-shadow: -3px 3px 3px 4px #001133;
    border-left: 2px;
    border-top:  0 ;
    border-bottom:  2px;
    border-right: 2px;
    border-style: solid;
    border-color:#004586;
}
.alertdiv
{
    border-left: 2px;
    border-top: 0;
    border-bottom: 2px;
    border-right: 2px;
    border-style: solid;
    border-color:#004586;
    border-radius: 9px;
    color: #f1f1f1;
    background: #282828;
    font-family: verdana, Arial, Helvetica, Sans-Serif;
    position: fixed;
    width: 500px;
    height: 200px;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -100px;
    text-align: center;
    z-index: 2200000;
    box-shadow: -3px 3px 3px 4px #001133;
}
td.ps_hover 
{
    color: #ffffff; 
    font-weight: bold;
    font-size: 10pt;
    cursor: pointer;
}

div.bottom {
    position: absolute;
    bottom: 10px;
    right: 9px;
}

#pulldown_menu 
{
    width: 100%;
    z-index: 1000;
    position: fixed;
    padding-left: 10px;
    height: 2em;
    top:0;
    background: #444444; /* Old browsers */
    background: -moz-linear-gradient(top, #343434 0%, #606060 70%, #343434 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#343434), color-stop(40%,#606060), color-stop(100%,#343434)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #343434 0%,#606060 40%,#343434 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #343434 0%,#606060 40%,#343434 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #343434 0%,#606060 40%,#343434 100%); /* IE10+ */
    background: linear-gradient(to bottom, #343434 0%,#606060 40%,#343434 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343434', endColorstr='#343434',GradientType=0 ); /* IE6-9 */
}
.pulldown ul { 
    list-style-type: none; 
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: -10000000px; /* so we can move it off screen to the right; 10000000px should be enough for any one*/
    padding: 0;
    z-index: 1100;
    float: left;
    position: relative; 
}


.pulldown ul li.smalllogo 
{
    width: 40px;
    height: 2em;
    float: left;
    _background: #444444;
    position: relative; 
    list-style-type:none; 
}

.pulldown ul li.smallstatus
{
    width: 20px;
    float: left;
    _background: #444444;
    position: relative; 
    list-style-type: none; 
    border-right: 1px solid #1b1b1b;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
}
.white
{
    color: #1f1f1f;
}

.pulldown ul li.normal:hover
{
    background: #666666; /* Old browsers */
    background: -moz-linear-gradient(top, #666666 0%, #7a7a7a 53%, #666666 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(53%,#7a7a7a), color-stop(100%,#666666)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #666666 0%,#7a7a7a 53%,#666666 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #666666 0%,#7a7a7a 53%,#666666 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #666666 0%,#7a7a7a 53%,#666666 100%); /* IE10+ */
    background: linear-gradient(to bottom, #666666 0%,#7a7a7a 53%,#666666 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
}
.pulldown ul li.normal
{
    color: #ffeeee;
    text-align: center;
    font-size: small;
    font-family: Geneva, Arial, Helvetica, Sans-Serif;
    height: 2em;
    width: 9em; 
    float: left;
    position: relative; 
    list-style-type: none; 
    border-right: 1px solid #212121;
}

.pulldown ul li.commando 
{
    background: #595959; /* Old browsers */
    background: -moz-linear-gradient(top, #595959 0%, #808080 53%, #595959 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#595959), color-stop(53%,#808080), color-stop(100%,#595959)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #595959 0%,#808080 53%,#595959 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #595959 0%,#808080 53%,#595959 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #595959 0%,#808080 53%,#595959 100%); /* IE10+ */
    background: linear-gradient(to bottom, #595959 0%,#808080 53%,#595959 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#595959',GradientType=0 ); /* IE6-9 */
}
.pulldown ul li.smalllogo 
{
    color:#d03b00;
}

.pulldown ul ul {
    margin-left: 8px;
    margin-top: 2px;
    padding: 0;
    display:none;
    vertical-align: bottom;
    border: none;
    overflow: hidden;
    z-index: 1200;
    list-style-type: none; 
}

.pulldown ul li:hover ul 
{ 
    display:block; 
    font-size: small;
    font-family: Geneva, Arial, Helvetica, Sans-Serif;
    position:absolute;
    left: 0;
    z-index: 2000;
    border: none;
    overflow: hidden;
    list-style-type:none; 
}
.pulldown ul li:hover ul li.plain
{
    background: #444444;
    height: 2em;
    width: 250px;
    z-index: 2000;
    border: none;
    overflow: hidden;
    list-style-type:none; 
}

.pulldown ul li:hover ul li.plain:hover,
.pulldown ul li:hover ul li.activity:hover
{
    background:#666666;
    height: 2em;
    overflow: hidden;
    list-style-type:none; 
}
.pulldown ul li:hover ul li.activity
{
    background:#444444;
    height: 2em;
    width: 450px;
    z-index: 2000;
    overflow: hidden;
    list-style-type:none; 
}

.urdlogo2
{
    width: 175px;
    height: 113px;
    background:url('../../img/darkness/urdlogo.png') no-repeat;
    z-index: -1000;
    margin-right: 16px;
}

#contentout
{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    position: absolute;
    display:block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 95%;
    overflow-x: auto;
    overflow-y: auto;
    z-index: 10;
}

.content 
{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: small;
    vertical-align: top;
    top: 140px;
    width: 100%;
    overflow-x: hidden;
}
.Message
{
    position: fixed;
    color: black;
    width: 80%;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 5px;
    padding-top: 5px;
    z-index:2500000; 
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    min-height: 40px;
    bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #feb645; /* Old browsers */
    background: -moz-linear-gradient(top, #feb645 7%, #f1e767 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(7%,#feb645), color-stop(99%,#f1e767)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #feb645 7%,#f1e767 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #feb645 7%,#f1e767 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #feb645 7%,#f1e767 99%); /* IE10+ */
    background: linear-gradient(to bottom, #feb645 7%,#f1e767 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb645', endColorstr='#f1e767',GradientType=0 ); /* IE6-9 */
}
#smalllogo
{
    width: 38px;
    height: 20px;
    background: url('../../img/darkness/urdlogo_small.png') no-repeat;
    margin-left: 1px;
    margin-top: 3px;
}

#scrollmenuright,
#scrollmenuleft
{
    background: #444444; /* Old browsers */
    background: -moz-linear-gradient(top, #343434 0%, #606060 70%, #343434 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#343434), color-stop(40%,#606060), color-stop(100%,#343434)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #343434 0%,#606060 40%,#343434 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #343434 0%,#606060 40%,#343434 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #343434 0%,#606060 40%,#343434 100%); /* IE10+ */
    background: linear-gradient(to bottom, #343434 0%,#606060 40%,#343434 100%); /* W3C */
    color: #ffeeee;
    font-weight: bold;
}

.internal_subcat_selector
{
    position: relative;
    padding: 0 0 0 10px;
    width: 695px;
    height: 370px;
    overflow-y: auto;
}

.subcat_selector
{
    position: fixed;
    left: 45%;
    top: 35%;
    width: 700px;
    height: 400px;
    margin-left: -262px;
    margin-top: -100px;
    border-radius: 9px;
    border: 2px solid #004586;
    background: #282828;
    color: #f1f1f1;
    z-index: 2000;
    overflow: hidden;
    box-shadow: -3px 3px 3px 4px #001133;
}

td.subcat_head
{
    color: #f1f1f1;
    font-weight: bold;
}

td.subcat
{  
    padding: 0 0 0 10px;
    border-collapse: collapse;
    border-width: 0px;
    border-spacing: 0px;
    width: 200px;
    color: #f1f1f1;
}

tr.info
{
    color: #444444;
    background: #e5e5e5;
}
tr.title
{
    color:  #f5f5f5;
    background:#004586;
}
tr.comment
{
    color: #e1e1e1;
    background: #282828;
}
.set_title
{
    width: 100%;
    padding-top: 8px;
    padding-bottom: 6px;
    color: #eeeeee; 
    font-weight: bold;
}

input.passwordweak,
input.passwordincorrect
{
    background-color:#FFC0C0;
}
input.passwordmedium
{
    background-color:#FFFFC0;
}
input.passwordstrong,
input.passwordcorrect
{
    background-color:#C0FFC0;
}

table.set_details
{
    width: 100%;
    text-align: left;
    border:0;
    border-collapse: collapse;
    border-spacing: 0;
}

tr.comment_poster
{
    color: #cccccc;
    background:#2a3550;
}

.pulldown ul li.menu_highlight
{
    background: #0055bb; /* Old browsers */
    background: -moz-linear-gradient(top, #0055bb 0%, #0088ff 53%, #0055bb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0055bb), color-stop(53%,#0088ff), color-stop(100%,#0055bb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0055bb 0%,#0088ff 53%,#0055bb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0055bb 0%,#0088ff 53%,#0055bb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0055bb 0%,#0088ff 53%,#0055bb 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0055bb 0%,#0088ff 53%,#0055bb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0055bb', endColorstr='#0055bb',GradientType=0 ); /* IE6-9 */
}

input.passwordweak,
input.passwordincorrect
{
    background-color:#aa7070;
}
input.passwordmedium
{
    background-color:#999970;
}
input.passwordstrong,
input.passwordcorrect
{
    background-color:#70aa70;
}

.progressbar
{
  background-color: #5b5b5b;
}
.grey {
  background: #888888;
  background-image: -webkit-linear-gradient(top, #c0c0c0, #9b9b9 70%, #777777);
  background-image: -moz-linear-gradient(top, #c0c0c0, #9b9b9 70%, #777777);
  background-image: -o-linear-gradient(top, #c0c0c0, #9b9b9 70%, #777777);
  background-image: linear-gradient(to bottom, #c0c0c0, #9b9b9 70%, #777777);
}
.green {
    background: #5a8529; /* Old browsers */
    background: -moz-linear-gradient(top, #6a9539 0%, #597e32 70%, #4f6f2d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6a9539), color-stop(70%,#597e32), color-stop(100%,#4f6f2d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #6a9539 0%,#597e32 70%,#4f6f2d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #6a9539 0%,#597e32 70%,#4f6f2d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #6a9539  0%,#597e32 70%,#4f6f2d 100%); /* IE10+ */
    background: linear-gradient(to bottom, #6a9539 0%,#597e32 70%,#4f6f2d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a8529', endColorstr='#3f5f1d',GradientType=0 ); /* IE6-9 */
}

.red {
    background: #b31f0b;
    background: -moz-linear-gradient(top, #b31f0b 0%, #96180a 70%, #801408 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b31f0b), color-stop(70%,#96180a), color-stop(100%,#801408));
    background: -webkit-linear-gradient(top, #b31f0b 0%,#96180a 70%,#801408 100%);
    background: -o-linear-gradient(top, #b31f0b 0%,#96180a 70%,#801408 100%);
    background: -ms-linear-gradient(top, #b31f0b 0%,#96180a 70%,#801408 100%);
    background: linear-gradient(to bottom, #b31f0b 0%,#96180a 70%,#801408 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b31f0b', endColorstr='#801408',GradientType=0 );
}

.orange {
  background: #f2b63c;
  background-image: -webkit-linear-gradient(top, #f8da9c, #f5c462 70%, #f2b63c);
  background-image: -moz-linear-gradient(top, #f8da9c, #f5c462 70%, #f2b63c);
  background-image: -o-linear-gradient(top, #f8da9c, #f5c462 70%, #f2b63c);
  background-image: linear-gradient(to bottom, #f8da9c, #f5c462 70%, #f2b63c);
}

.blue {
  background: #5aaadb;
  background-image: -webkit-linear-gradient(top, #aed5ed, #7bbbe2 70%, #5aaadb);
  background-image: -moz-linear-gradient(top, #aed5ed, #7bbbe2 70%, #5aaadb);
  background-image: -o-linear-gradient(top, #aed5ed, #7bbbe2 70%, #5aaadb);
  background-image: linear-gradient(to bottom, #aed5ed, #7bbbe2 70%, #5aaadb);
}
#sidebar_button
{
    position: fixed;
    background-color: #004586;
    color: white;
    border-radius: 0 5px 5px 0;
    border: #004586 1px solid;
    font-weight: bold;
    display:none;
}

#contentleft
{
    border-right: solid 1px #004586;
}

div.suggest
{
    max-width: 450px;
    background: #202020;
    color: #E0E0E0;
    z-index: 10000;
    position: fixed;
    border: solid 1px #404040;
    border-radius: 5px;
    overflow-x: hidden;
    padding-left: 3px;
    padding-right: 3px;
}

